/bark_data
/bark_data_1000
/test_images
/Data
/CHR
/barknet-data-confusion-matrix
/Barknet Trained Models
/analytics
/.bark
/test-data
/test-prod
/trained_models
/training-data
/training-data-prod
barknet-data-confusion-matrix.zip